/* ---------------------------------- */
/*                Base                */
/* ---------------------------------- */

Input {
  background: black 0%;
  border: none;
  height: 1;
  margin-left: 0;
  padding-left: 0;
}

.base-page {
  padding: 0 1;
}

DataTable > .datatable--cursor {
  background: $secondary 20%;
}

/* ---------------------------------- */
/*         Confirmation Modal         */
/* ---------------------------------- */

#confirmation-modal-screen {
  align: center middle;
  background: $background 40%;
}

.dialog {
  padding: 0 1;
  width: 80%;
  height: 5;
  border: round $accent;
  background: $surface;
  align-vertical: middle;

  Label {
    color: white;
    width: 1fr;
    text-align: center;
  }
}

/* ---------------------------------- */
/*             Input modal            */
/* ---------------------------------- */

#input-modal-screen,
#transfer-modal-screen {
  align: center top;
  background: $background 40%;
}

.input-dialog,
.transfer-modal {
  margin: 2;
  padding: 1 2;
  width: 1fr;
  max-width: 80;
  height: auto;
  background: $surface;
  border: round $accent;
}

/* ---------------------------------- */
/*           Transfer Modal           */
/* ---------------------------------- */

.transfer-modal {
  align-horizontal: center;

  #transfer-error {
    color: red;
    width: 1fr;
    text-align: center;
    margin-top: 1;
  }

  #accounts-container {
    height: 3;
    margin-top: 1;
    layout: horizontal;
    align: center middle;

    .arrow {
      color: $accent;
      padding: 1 3;
    }

    .accounts {
      height: 1fr;
      background: $primary-background-darken-2;

      .item {
        height: 1;
        layout: horizontal;

        Label {
          text-align: center;
          width: 1fr;
        }
      }
    }
  }
}

/* ---------------------------------- */
/*             Input field            */
/* ---------------------------------- */

.row {
  height: 1;
  layout: horizontal;
  layers: input error label;

  .row-label {
    color: $accent;
    dock: left;
    layer: label;
  }

  Input {
    offset-x: 20;
    layer: input;
  }

  Label.error {
    color: red;
    dock: right;
    layer: error;
  }

  .switch-group {
    layout: horizontal;
    layer: input;
    offset-x: 20;
  }

  Switch {
    width: auto;
    border: none;
    padding: 0;
    margin: 0 2;

    .switch--slider {
      color: $accent;
      background: $background-lighten-2;
    }

    &:focus > .switch--slider {
      color: $secondary;
      background: $secondary 10%;
    }

    .-on > .switch--slider {
      color: $accent;
    }
  }

  .field-autocomplete {
    margin-left: 0;
    layer: input;
  }
}

/* ---------------------------------- */
/*              Home page             */
/* ---------------------------------- */

.home-accounts-list {
  height: 4;
  width: 1fr;
}

.home-divider {
  color: $primary-background-lighten-3;
  margin: 0;
}

/* ------------ Accounts ------------ */

Container.account-container {
  height: 1fr;
  border: round $primary-background-lighten-3;
  align-vertical: middle;
  padding-left: 1;
}

.account-balance {
  color: $secondary;
}

/* ---------------------------------- */
/*               Utility              */
/* ---------------------------------- */

.hidden {
  visibility: hidden;
}

.label-empty {
  color: $primary-background-lighten-3;
  width: 1fr;
  padding-top: 2;
  text-align: center;
}
